body{
    background: linear-gradient(90deg,#1e9e9e, #ff00ff, #5e15a3, #04c104);
    background-size: 400% 400%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    background-color: rgba(255, 255, 255, 0.496);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(228, 154, 43, 0.773);
    padding: 1em;
    width: 350px;
}
fieldset{
    border: none;
    padding: 0;
}
input,label{
    box-sizing: border-box;
    display: block;
    width: 100%;
    /* border: 2px solid #04c104; */
}
label{
    margin-bottom: .5em;
}
input{
    border: 1px solid #d4d4d4a8;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 1.5em;
    padding: .75em;
}
legend{
    color: #3e3e3e;
    font-size: 1.2em;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .765em;
    margin-bottom: 10px;
}
input[type="submit"]{
    margin-top: 2em;
}
.cancel{
    background-color: #ff2f00;
    color: white;
    cursor: pointer;
}

.send:hover{
    background-color: #51ca51;
    color: white;
    cursor: pointer;
}